.env
TAVILY_API_KEY = "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"
.venv
__pycache__/
.vscode/
./venv
.env
.env.local
.env.*.local

# Ignore Python cache files
*.pyc
__pycache__/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints
# Ignore virtual environment directories
venv/

*.pdf
*.txt

